<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AeroClub - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/06a0ccab7e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url('home') }}">AeroClub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Abonnement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    {% if app.user %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Mon compte</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-toggle-off text-danger"></i> Déconnexion</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-success btn-sm" href="{{ url('app_login') }}">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
